<nz-space nzDirection="vertical" [nzAlign]="'center'">
  <nz-card *nzSpaceItem nzTitle="{{ pageTitle }}">
    <nz-select nzShowSearch nzPlaceHolder="Select what to display" (change)="onSelected($any($event.target).value)">
      <nz-option nzLabel="-Display All-" nzValue="0"></nz-option>
      <nz-option *ngFor="let category of categories" nzLabel="{{ category.name }}" nzValue="category.id"></nz-option>
    </nz-select>
    <nz-table #basicTable *ngIf="products" [nzData]="products">
      <thead>
        <tr>
          <th>Product</th>
          <th>Code</th>
          <th>Category</th>
          <th>Price</th>
          <th>In Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.productName }}</td>
          <td>{{ data.productCode }}</td>
          <td>{{ data.categoryId }}</td>
          <td>{{ data.price | currency:"USD":"symbol":"1.2-2" }}</td>
          <td>{{ data.quantityInStock }}</td>
        </tr>
      </tbody>
    </nz-table>
    <button type="button" nz-button nzType="default" 
            (click)="onAdd()">Add Product</button>
  </nz-card>

</nz-space>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>
