<div class="container">
  <nz-layout class="layout" nz-row style="height: 100%;">
    <nz-header nz-col nzSpan="24">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>
          <a [routerLink]="['']" routerLinkActive="active" > {{ pageTitle }} </a> </li>
        <li nz-menu-item>
          <a [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
        </li>
        <li nz-menu-item>
          <a
            [routerLink]="['/products']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Product List
          </a>
        </li>
        <li nz-menu-item>
          <a
            [routerLink]="['/products/alternate']"
            routerLinkActive="active"
          >
            Product List (Alternate UI)
          </a>
        </li>
      </ul>
    </nz-header>
    <nz-content nz-col nzSpan="22" class="center-content">
      <nz-space>
        <router-outlet></router-outlet>
      </nz-space> 
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</div>