<nz-space nzDirection="vertical" [nzAlign]="'center'">
  <nz-card *nzSpaceItem nzTitle="{{ pageTitle }}">
    <nz-empty *ngIf="!product" nzNotFoundImage="simple"></nz-empty>
    <nz-table #productTable *ngIf="product" [nzData]="[product]">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>In Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of productTable.data">
        <td>{{ data.productName }}</td>
        <td>{{ data.productCode }}</td>
        <td>{{ data.categoryId }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.price | currency: "USD":"symbol" }}</td>
        <td>{{ data.quantityInStock }}</td>
        </tr>
      </tbody>
    </nz-table>
    <nz-table #supplierTable *ngIf="productSuppliers" [nzData]="productSuppliers">
      <thead>
        <tr>
          <th>Supplier</th>
          <th>Cost</th>
          <th>Minimum Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of supplierTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.cost | currency: "USD":"symbol":"1.2-2" }}</td>
          <td>{{ data.minQuantity }}</td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template *ngIf="!productSuppliers">
      <div class="alert alert-warning">
        No suppliers for product
      </div>
    </ng-template>
  </nz-card>
</nz-space>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>
