<nz-space nzDirection="vertical" [nzAlign]="'center'">
  <nz-card nzTitle="{{ pageTitle }}" *ngIf="products">
    <nz-list nzBordered nzHeader="Name (Category ID)">
      <nz-list-item *ngFor="let product of products">
      <a (click)="onSelected(product.id)">
        <span nz-typography>
          {{ product.productName }}
        </span>
        {{ product.categoryId }}
      </a>
      </nz-list-item>
    </nz-list>
  </nz-card>
</nz-space>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
